{% extends 'base_accounts.html' %} {% block title %}Log in to Django Boards
{%endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Log in</h3>
        <form method="post" novalidate>
          {% csrf_token %} {% include 'form.html' %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LeD3qYaAAAAAOYDwQIiqaBs12etbmS4-r4QIMvS"></div>
            <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary btn-block w-50 mt-2">
            Log in
          </button>
                </div>
        </form>
      </div>
      <div class="card-footer text-muted text-center">
        New to Django Boards? <a href="{% url 'signup' %}">Sign up</a>
      </div>
    </div>
    <div class="text-center py-2">
      <small>
        <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
      </small>
        <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
        <br>
    </div>
  </div>
</div>
{% endblock %}
